<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{post}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

{{#if comments.length}}
                <div>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <p>Comments: {{commentCount}}</p>
                    </button>
                    <br>
                </div>
                <div class="collapse" id="collapseExample">
                    <div id="commentDrop" class="card card-body">
                        {{#each comments as |comment|}}
                        <p id="commentBox">{{comment.user.name}}: {{comment.content}}</p>
                        {{/each}}
                    </div>
                </div>
                <br>
                {{/if}}

                <form class="commentForm" data-id="{{post.id}}">
                    <textarea class="commentInput" rows="3"></textarea>
                    <br>
                    <button class="commentBtn btn btn-primary">Leave a Comment</button>
                </form>
                {{#if belongsToUser}}

                <button class="btn btn-sm btn-danger" data-id="{{post.id}}">Delete Your Post</button>
                <button class="btn btn-sm btn-danger" data-id="{{post.id}}">Update Your Post</button>

                {{/if}}
    {{/each}}
    <br>
    {{/if}}
</div>

<script>
    $(document).on('click', function () {
        $('.collapse').collapse('hide');
    })
</script>